body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* ---navigation---- */
#nav{
    background-color: #574f5aba;
    color: #fff;
}
input[type="search"]{
    background-color: #574f5a71;
}
#recherche{
    width: 100% !important;
    height: 35px;
    margin: auto;
}
/* section1 */

#section1{
    background-image: url(image/fond.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 20rem; */
}
/* ---footer--- */
.icone{
    border: 1px solid transparent;
    border-radius: 50%;
    color: #fff !important;
    background-color: black;
    width: 2rem;
    height: 2rem;
}
.icone:hover{
    color: black !important;
    background-color: #fff;
}
#footer{
    background-color: #574f5a40;
}
/* ---contacte--- */
#contacte{
    background-image: url(image/image-gris.jpg);
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
     background-size: cover; 
}
#con{
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
}
#message{
    background-color: transparent;
}
::placeholder{
    color: #fff !important;
}
/* ---cconnection-- */
#mail{
    background-color: rgba(0, 0, 0, 0.24);
}
form{
    width: 30%;
    margin: auto;
}
.div{
    width: 10%;
    margin: auto;
}
.bou{
    padding: 5px;
    border: 1px solid transparent;
    background-color: transparent;
    border-radius: 50%;
    text-decoration: none;
}
/* -----inscription--- */
#inscription{
    background-image: url(image/enregistrer.jpg);
    background-size: cover;
    /* background-attachment: fixed; */
}
.formulaire{
    border: 1px solid bisque;
    
}
@media screen and (min-width:300px) and (max-width:500px){
    .bouton{
        width: 50rem !important;
    }
    .div{
        width: 100% !important;
        margin: auto;
    }
    .formulaire{
        width: 100rem !important;
    }
    .colone{
        width: 18rem !important;
        position: relative;
        left: -5rem;
    }
    #form{
        width: 8rem !important;
        position: relative;
        left: -2rem;
    }
}